/* Estilo do corpo da página */
body {
    background-color: white; /* Cor de fundo branca */
    border: 20px solid rgb(156, 5, 93); /* Borda sólida preta de 10 pixels */
    border-radius: 20px; /* Borda arredondada */
    padding: 30px; /* Espaçamento interno para evitar que o conteúdo encoste nas bordas */
    /*overflow-y: hidden; *//* Impede a rolagem vertical */
    overflow-y: hidden;
    margin: -1; /* Remove margens padrão do body */
    padding: 0; /* Remove padding padrão do body */
    height: -1%; /* Garante que o corpo ocupe toda a altura da tela */
    
}


/* Estilo do cabeçalho */
header {
    text-align: center;
    padding: 20px 0;
}

/* Estilo dos botões */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Definindo uma altura para centralizar os botões na página */
}

.btn-novo {
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff; /* Cor de destaque para os botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Times New Roman", sans-serif;
}

.btn-novo:hover {
    background-color: #ca02c0; /* Cor de destaque alterada ao passar o mouse */
}

/* Estilo do botão "Sair" */
p a {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #dc3545; /* Cor de destaque para o botão "Sair" */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Times New Roman", sans-serif;
}

p a :hover {
    background-color: #d60586; /* Cor de destaque alterada ao passar o mouse */
}

/* Estilo dos pop-ups */
.popup {
    display: none; /* Inicialmente ocultos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 1, 10, 0.5); /* Fundo escurecido para destacar o pop-up */
    z-index: 9999;
}

.popup-content {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para efeito de elevação */
}

.popup-content a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    font-family: "Times New Roman", sans-serif; 
}

.popup-content a:hover {
    color: #b40196; /* Cor alterada ao passar o mouse */
}
.button {
    font-family: "Times New Roman", sans-serif; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


.image-left {
    position: absolute;
    left: 80px; /* Distância da borda esquerda da tela */
    top: 50%; /* Alinha a imagem verticalmente ao centro da tela */
    transform: translateY(-50%); /* Corrige o alinhamento vertical */
    z-index: -1; /* Define a imagem para ficar atrás dos outros elementos */
    width: 300px; /* Define a largura desejada da imagem */
}

.image-right {
    position: absolute;
    right: 80px; /* Distância da borda direita da tela */
    top: 50%; /* Alinha a imagem verticalmente ao centro da tela */
    transform: translateY(-50%); /* Corrige o alinhamento vertical */
    z-index: -1; /* Define a imagem para ficar atrás dos outros elementos */
    width: 300px; /* Define a largura desejada da imagem */
}

/* Estilos padrão para as imagens */
.image-left, .image-right {
    transition: transform 2.0s ease; /* Adiciona uma transição suave de 2 segundos */
}

/* Estilos padrão para as imagens */
.image-left, .image-right {
    transition: opacity 2s ease; /* Adiciona uma transição suave de 2 segundos */
}

/* Media query para telas menores */
@media screen and (max-width: 750px) {
    .image-left, .image-right {
        opacity: 0; /* Torna as imagens invisíveis */
    }
    body {
        background-color: white; /* Cor de fundo branca */
        border: 20px solid rgb(156, 5, 93); /* Borda sólida preta de 10 pixels */
        border-radius: 20px; /* Borda arredondada */
        padding: 3px; /* Espaçamento interno para evitar que o conteúdo encoste nas bordas */
        overflow-y: hidden;
        margin: 3; /* Remove margens padrão do body */
        height: -1%; /* Garante que o corpo ocupe toda a altura da tela */
    }
    .popup-content {
        width: 60%; /* Defina a largura desejada */
        max-width: 400px; /* Defina uma largura máxima */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para efeito de elevação */
    }
    
    .popup-content a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #007bff;
        font-size: 27px;
        font-family: "Times New Roman", sans-serif; 
    }
}
