@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



body {
  background-color: #a0389b;
  background-image: url("../images/bg-signup.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}


.container {
  display: flex;
  justify-content: center; /* Alteração: centraliza os itens horizontalmente */
  width: 90%; /* Alteração: aumenta a largura do container para 90% da largura da tela */
  margin-top: 100px; 
  padding-left: 85px; /* Alteração: ajusta o espaçamento lateral */
  padding-right: 10px; /* Alteração: ajusta o espaçamento lateral */
}

.card {
  background-color: #ffffff80;
  padding: 20px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  max-width: 350px; /* Alteração: define a largura máxima do card */
  width: 100%; /* Alteração: garante que o card ocupe todo o espaço disponível */
}

h2{
  text-align: center;
  margin-bottom: 30px;
  color:  #9c0075;
  text-shadow: 0 0 30px black;

  
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #9c0075;
  text-shadow: 0 0 20px white;
  font-size: 24px; /* Reduz o tamanho da fonte do título */
  margin-bottom: 15px; /* Reduz a margem inferior do título */
  font-family: "Times New Roman", Times, serif;
}


.label-float input{
  width: 100%;
  font-size: 14px; /* Reduz o tamanho da fonte dos inputs */
  padding: 8px 5px; /* Reduz o padding dos inputs */
  display: inline-block;
  border: 0;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  transition: all .3s ease-out;
  border-radius: 10;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #a0389b;
}

.label-float label{
  color: #8f009c;
  pointer-event: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #a03897
}

button{
  background-color: transparent;
  border-color: #9c0075;
  color: #9c008f;
  padding:10px;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #9c007a;
  color: #ffffff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #0d009c;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9c0075; /* Cor de fundo */
  color: #ffffff; /* Cor do texto */
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #7c005a; /* Cor de fundo ao passar o mouse */
}

@media screen and (max-width: 750px) {
  body {
    margin: 39px;
    padding: 1px;
    font-family: 'Roboto', sans-serif;
    background-color: #a0389b;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .container {
    display: flex;
    flex-direction: column; /* Altera para um layout de coluna em telas menores */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: 90%; /* Ajusta a largura do container */
    margin-top: 100px; 
    padding-left: 20px; /* Ajusta o espaçamento lateral */
    padding-right: 20px; /* Ajusta o espaçamento lateral */
  }

  .card {
    max-width: 100%; /* Altera a largura máxima para ocupar toda a largura disponível */
    width: 100%; /* Ajusta a largura do card para ocupar toda a largura disponível */
    border-radius: 0; /* Remove o arredondamento da borda */
    box-shadow: none; /* Remove a sombra */
  }

  h1 {
    font-size: 20px; /* Reduz o tamanho da fonte do título */
    margin-bottom: 10px; /* Reduz a margem inferior do título */
  }

  .label-float input {
    width: 100%;
    font-size: 12px; /* Reduz o tamanho da fonte dos inputs */
    padding: 5px 2px; /* Reduz o padding dos inputs */
    min-width: auto; /* Remove a largura mínima */
  }

  button {
    font-size: 12px; /* Reduz o tamanho da fonte do botão */
    padding: 8px; /* Ajusta o espaçamento interno do botão */
    margin-top: 10px; /* Ajusta a margem superior do botão */
  }

  .button-link {
    padding: 8px 16px; /* Ajusta o espaçamento interno do link do botão */
    font-size: 12px; /* Reduz o tamanho da fonte do link do botão */
  }
}
